@charset "UTF-8";
html, body {
  height: 100%;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

body .light-border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
body .page-link {
  background-color: #405c79 !important;
}
body .page-link:hover {
  background-color: #2c3e50 !important;
}
body .active .page-link {
  background-color: #2c3e50 !important;
}
body .disabled .page-link {
  background-color: #5a738d !important;
}
body .plink {
  color: #eeeeee;
  transition: 200ms;
  font-size: 15px;
}
body .plink:hover {
  color: white;
}
body .role-create {
  font-size: 26px;
  text-decoration: none !important;
  padding: 0px;
}
body .input-hint {
  margin-left: 5px;
  display: inline-block;
}
body .alert {
  margin-right: auto;
  width: 95%;
}
body .tlink {
  color: #212529;
  text-decoration: underline;
}
body .tlink:hover {
  color: #212529da;
  text-decoration: none;
}
body .form-label {
  color: #212529;
  font-weight: bold;
  font-size: 15px;
}
body .form-select {
  cursor: pointer;
}
body option {
  cursor: pointer;
}
body th.id {
  padding: 0;
}
body th.id a {
  color: #253544;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 2.5;
  padding-left: 5px;
}
body .readonly-input {
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}
body .fatal-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  margin-right: auto;
  width: 95%;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
body .container-fluid {
  padding: 0;
}
body .unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
body .hidden {
  display: none !important;
}
body a {
  text-decoration: none;
}
body .error-message, body .success-message {
  position: relative;
  padding: 0.6rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #f5c6cb;
  border-radius: 0.25rem;
  color: #721c24;
  background-color: #f8d7da;
  margin-left: 15px;
  max-width: 650px;
}
body div.success-message {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}
body h4 {
  margin-bottom: 20px;
}
body .back-button {
  margin-bottom: 20px;
  pointer-events: auto !important;
  text-decoration: none;
}

#header {
  height: 70px;
}
#header .user-link {
  color: white;
  font-size: 18px;
  margin-left: auto;
  margin-right: 10px;
}
#header .user-link i {
  margin-right: 5px;
}
#main-row {
  margin: 70px 0 0 0;
}

#sidebar {
  position: fixed;
  padding: 20px 0 0 0;
  height: 100%;
}
#sidebar .nav-header {
  font-size: 18px;
  padding: 5px 10px;
  cursor: pointer;
}
#sidebar .nav-header i {
  opacity: 0.7;
  font-size: 15px;
  margin: 6px;
}
#sidebar .nav-header.opened {
  background-color: #2c3e50;
  color: white;
}
#sidebar .nav-header.opened i {
  transform: rotate(90deg);
}
#sidebar .nav-group {
  margin-left: 15px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  display: none;
}
#sidebar .nav-link {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#sidebar .nav-item {
  padding: 0 10px;
  transition: border-bottom-color 200ms;
}
#sidebar .nav-item:hover {
  border-bottom-color: black;
}
#sidebar .nav-item:hover a {
  color: black;
}

#content {
  padding-top: 20px;
  padding-left: 30px;
}

#search-form {
  display: flex;
  align-items: center;
}
#search-form input {
  width: 40%;
}
#search-form button {
  width: 100px;
  margin-left: 10px;
}

#productCategorySelect .categories-list .submenu, #product-index .submenu {
  display: none;
  margin-left: 8px;
  border-left: 1px solid gray;
  padding-left: 8px;
}
#productCategorySelect .categories-list a, #product-index a {
  color: #212529;
}
#productCategorySelect .categories-list a.arrow::after, #product-index a.arrow::after {
  content: "";
  font-family: Font Awesome\ 5 Free;
  font-weight: 900;
  font-size: 12px;
  margin-left: 4px;
}
#productCategorySelect .categories-list a.arrow.collapsed::after, #product-index a.arrow.collapsed::after {
  content: "";
  font-family: Font Awesome\ 5 Free;
  font-weight: 900;
  font-size: 12px;
  margin-left: 4px;
}
#productCategorySelect .categories-list .category, #product-index .category {
  margin-bottom: 5px;
}

#categoryCategorySelect .categories-list .submenu {
  margin-left: 8px;
  border-left: 1px solid gray;
  padding-left: 8px;
}
#categoryCategorySelect .categories-list a {
  color: #212529;
}

#product-edit, #product-create {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
#product-edit .category-id-group, #product-create .category-id-group {
  display: flex;
  height: 40px;
}

#product-create {
  border-right: none;
}

#tab-nav-wrapper {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: auto;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0 0 1px 0px black;
  flex-grow: 1;
  margin-right: 20px;
}
#tab-nav-wrapper .tab-nav {
  flex-grow: 1;
  padding: 15px 20px;
  text-align: center;
  color: black;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 200ms all;
}
#tab-nav-wrapper .tab-nav.active {
  color: white;
  background-color: #253544;
  cursor: auto;
}
#tab-nav-wrapper .tab-nav:hover {
  color: white;
  background-color: #253544;
}

#tabs > div {
  display: none;
  padding: 0;
}

#tabs > div.active {
  padding: 0;
  display: flex;
}

#product-actions {
  margin-bottom: 15px;
  padding-left: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#product-actions form {
  margin-bottom: 10px;
}
#product-actions form button {
  width: 200px;
}

#product-images {
  padding-left: 15px;
}
#product-images .add-image-form {
  margin-bottom: 10px;
}
#product-images .add-image-form input {
  margin-bottom: 10px;
}
#product-images .add-image-form #moreImg {
  margin-bottom: 10px;
  color: #727272;
}
#product-images .add-image-form .btn.btn-primary {
  margin-bottom: 15px;
}
#product-images .card {
  padding: 0px;
  margin-right: 20px;
}
#product-images .card .card-header {
  padding: 0px;
}
#product-images .card .card-header form {
  height: 35px;
}
#product-images .card .card-header form button {
  padding: 0;
  height: 35px;
  width: 100%;
}
#product-images .card img {
  max-width: 100%;
}

#product-stores .store {
  display: flex;
  font-size: 18px;
  align-items: center;
  margin-bottom: 10px;
  border-left: 4px solid #253544;
  padding-left: 10px;
}
#product-stores .store span {
  cursor: pointer;
}
#product-stores .store a {
  font-size: 14px;
  display: inline-block;
  height: 14px;
  color: #253544;
  text-decoration: underline;
}
#product-stores .store a:hover {
  text-decoration: none;
}
#product-stores .store input {
  max-width: 50px;
  margin-left: auto;
  text-align: center;
}

#product-create .add-image-form {
  margin-bottom: 10px;
}
#product-create .add-image-form input {
  margin-bottom: 10px;
}
#product-create .add-image-form #moreImg {
  margin-bottom: 10px;
  color: #727272;
}
#product-create .add-image-form .btn.btn-primary {
  margin-bottom: 15px;
}

#footer {
  height: 100px;
}

.jquery-modal.blocker {
  z-index: 2000;
}
.jquery-modal.blocker .modal {
  z-index: 3000;
}
.jquery-modal.blocker .close-modal {
  z-index: 4000;
  display: none !important;
}

#create-page-form legend {
  margin-bottom: 15px;
}
#create-page-form input {
  max-width: 600px;
  margin-bottom: 10px;
}

#page-actions {
  display: flex;
  margin-bottom: 20px;
}
#page-actions form {
  margin-right: 25px;
}

.user-actions button {
  width: 190px;
}

#role-edit h5 {
  margin-left: 6px;
}
#role-edit .form-switch {
  margin-left: 12px;
}

.role-actions {
  padding-left: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.order-user-link {
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
}

#group-filter-form select {
  display: inline-block;
  width: 40%;
}
#group-filter-form button {
  width: 100px;
  margin-left: 10px;
}

.category-edit-filler {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#update-menu-items .labels label, #add-menu-items .labels label, #create-menu-form .labels label {
  display: inline-block;
  width: 34%;
  text-align: center;
}
#update-menu-items .labels label.sort, #add-menu-items .labels label.sort, #create-menu-form .labels label.sort {
  width: 29%;
  text-align: start;
  padding-left: 20px;
}
#update-menu-items .inputs, #add-menu-items .inputs, #create-menu-form .inputs {
  width: 100%;
  margin-top: 6px;
}
#update-menu-items .inputs button, #add-menu-items .inputs button, #create-menu-form .inputs button {
  width: 7%;
  display: inline-block;
}
#update-menu-items .inputs input, #add-menu-items .inputs input, #create-menu-form .inputs input {
  display: inline-block;
  width: 35%;
  margin-left: 2px;
}
#update-menu-items .inputs input.sort, #add-menu-items .inputs input.sort, #create-menu-form .inputs input.sort {
  width: 15%;
}
