@charset "UTF-8";
html, body {
  height: 100%;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

body .container-fluid {
  padding: 0;
}
body .unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
body .hidden {
  display: none !important;
}
body a {
  text-decoration: none;
}
body .error-message, body .success-message {
  position: relative;
  padding: 0.6rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #f5c6cb;
  border-radius: 0.25rem;
  color: #721c24;
  background-color: #f8d7da;
  margin-left: 15px;
  max-width: 650px;
}
body div.success-message {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}
body h4 {
  margin-bottom: 20px;
}
body .back-button {
  margin-bottom: 20px;
  pointer-events: auto !important;
  text-decoration: none;
}

#header {
  height: 70px;
}
#main-row {
  margin: 70px 0 0 0;
}

#sidebar {
  position: fixed;
  padding: 20px 0 0 0;
  height: 100%;
}
#sidebar .nav-header {
  font-size: 18px;
  padding: 5px 10px;
}
#sidebar .nav-group {
  margin-left: 15px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
#sidebar .nav-link {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#sidebar .nav-item {
  padding: 0 10px;
  transition: border-bottom-color 200ms;
}
#sidebar .nav-item:hover {
  border-bottom-color: black;
}
#sidebar .nav-item:hover a {
  color: black;
}

#content {
  padding-top: 20px;
  padding-left: 30px;
}

#search-form {
  display: flex;
  align-items: center;
}
#search-form input.search {
  flex-grow: 1;
}
#search-form button {
  width: 100px;
  margin-left: 15px;
}

#search-result-table a:hover {
  text-decoration: underline;
}

#categories-dropdown-list .submenu {
  display: none;
  margin-left: 8px;
  border-left: 1px solid gray;
  padding-left: 8px;
}
#categories-dropdown-list a {
  color: #212529;
}
#categories-dropdown-list a.arrow::after {
  content: "";
  font-family: Font Awesome\ 5 Free;
  font-weight: 900;
  font-size: 12px;
  margin-left: 4px;
}
#categories-dropdown-list a.arrow.collapsed::after {
  content: "";
  font-family: Font Awesome\ 5 Free;
  font-weight: 900;
  font-size: 12px;
  margin-left: 4px;
}
#categories-dropdown-list .category {
  margin-bottom: 5px;
}

#product-edit, #product-create {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
#product-edit .form-label, #product-create .form-label {
  color: #212529;
  font-weight: bold;
  font-size: 15px;
}
#product-edit .category-id-group, #product-create .category-id-group {
  display: flex;
  height: 40px;
}

#product-create {
  border-right: none;
}

#tab-nav-wrapper {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: auto;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0 0 1px 0px black;
  flex-grow: 1;
  margin-right: 20px;
}
#tab-nav-wrapper .tab-nav {
  flex-grow: 1;
  padding: 15px 20px;
  text-align: center;
  color: black;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 200ms all;
}
#tab-nav-wrapper .tab-nav.active {
  color: white;
  background-color: #253544;
  cursor: auto;
}
#tab-nav-wrapper .tab-nav:hover {
  color: white;
  background-color: #253544;
}

#tabs > div {
  display: none;
  padding: 0;
}

#tabs > div.active {
  padding: 0;
  display: flex;
}

#product-actions {
  margin-bottom: 15px;
  padding-left: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#product-actions form {
  margin-bottom: 10px;
}
#product-actions form button {
  width: 200px;
}

#product-images {
  padding-left: 15px;
}
#product-images .add-image-form {
  margin-bottom: 10px;
}
#product-images .add-image-form input {
  margin-bottom: 10px;
}
#product-images .add-image-form #moreImg {
  margin-bottom: 10px;
  color: #727272;
}
#product-images .add-image-form .btn.btn-primary {
  margin-bottom: 15px;
}
#product-images .card {
  padding: 0px;
  margin-right: 20px;
}
#product-images .card .card-header {
  padding: 0px;
}
#product-images .card .card-header form {
  height: 35px;
}
#product-images .card .card-header form button {
  padding: 0;
  height: 35px;
  width: 100%;
}
#product-images .card img {
  max-width: 100%;
}

#product-create .add-image-form {
  margin-bottom: 10px;
}
#product-create .add-image-form input {
  margin-bottom: 10px;
}
#product-create .add-image-form #moreImg {
  margin-bottom: 10px;
  color: #727272;
}
#product-create .add-image-form .btn.btn-primary {
  margin-bottom: 15px;
}

#footer {
  height: 100px;
}

.jquery-modal.blocker {
  z-index: 2000;
}
.jquery-modal.blocker .modal {
  z-index: 3000;
}
.jquery-modal.blocker .close-modal {
  z-index: 4000;
  display: none !important;
}
